{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}


<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}">{{ title }}</a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if post.collection == 'teaching' %}
          <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.collection == 'publications' %}
          <p>Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.date %}
         <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
        {% endif %}

    {% if post.authors %}
    <p>{{ post.authors}}</p>
    {% endif %}    

    <!-- Button-like Metadata -->
    <div style="display: flex; flex-wrap: wrap; gap: 10px; margin-bottom: 10px;">
      {% if post.first_author %}
       <i class="fa fa-star" aria-hidden="true"></i>
      {% endif %} 
      <!-- Publication Date Button -->
      {% if post.date and post.published %}
        <button class="archive__item-button">Published on: {{ post.date | date: "%B %d, %Y" }}</button>
      {% endif %}


      <!-- Conference Core Rating Button -->
      {% if post.core %}
        <button class="archive__item-button">Conference Core Rating: {{ post.core }}</button>
      {% endif %}

      <!-- Impact Factor Button -->
      {% if post.IF %}
        <button class="archive__item-button">Journal Impact Factor: {{ post.IF }}</button>
      {% endif %}
    </div>

    


    
    {% if post.excerpt %}
    <div class="archive__item-abstract" style="margin-top: 20px;">
      <h3 style="margin-bottom: 5px; font-weight: bold;">Abstract</h3>
      <div style="border: 1px solid #ddd; padding: 15px; border-radius: 5px; box-shadow: 0 2px 4px rgba(0,0,0,0.1); margin-top: 0;">
        {{ post.excerpt | markdownify }}
      </div>
    </div>
    {% endif %}


    {% if post.citation and post.paperurl %}
      <p>Recommended citation: {{ post.citation }} <a href="{{ post.paperurl }}"><u>{{ post.paperurl }}</u></a></p>
    {% elsif post.citation %}
      <p>Recommended citation: {{ post.citation }} </p>

    {% endif %}

    {% if post.paper %}
    <div style="text-align: center; margin-top: 20px;">
      <a href="{{ post.paper }}" class="archive__item-download-button" target="_blank" style="margin-right: 10px;">
        <i class="fa-solid fa-file-pdf fa-3x"></i>
      </a>
    {% endif %}
    
    {% if post.code %}
      <a href="{{ post.code }}" class="archive__item-code-button" target="_blank" title="View Source Code">
        <i class="fa-brands fa-github fa-3x"></i>
      </a>
    {% endif %}  
    </div>

  </article>
</div>





