{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    
    {% if include.type == 'grid' and teaser %}
      <div class="archive__item-teaser">
        <img src="{{ teaser | prepend: teaser contains '://' ? '' : '/images/' | prepend: base_path }}" alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      <a href="{{ post.paperurl | default: base_path | append: post.url }}" rel="permalink">{{ title }}</a>
    </h2>

    <!-- Metadata -->
    {% include 'archive-metadata.html' %}

    <!-- Abstract in a scrollable box -->
    {% if post.excerpt %}
      <div class="archive__item-excerpt" itemprop="description" style="max-height: 150px; overflow-y: auto;">
        {{ post.excerpt | markdownify }}
      </div>
    {% endif %}

    
    <!-- Additional Info and Links -->
    {% include 'archive-additional-info.html' %}

  </article>
</div>